<div class="header d-flex flex-column h-100">
    <div class="logo_row">
        <img src="assets/img/logo.svg" alt="logo" class="logo" width="100"/>
    </div>

    <div class="header_row" routerLink="/">
        <p>
            <span>
                <i class="bi bi-graph-up-arrow" style="margin: 5px;"></i>
            </span>
            <span>Home</span>
        </p>
    </div>
    <div class="header_row" routerLink="/wallet">
        <p>
            <span>
                <i class="bi bi-wallet2" style="margin: 5px;"></i>
            </span>
            <span>Wallet</span>
        </p>
    </div>
    <div class="header_row" routerLink="/transaction">
        <p>
            <span>
                <img src="assets/icons/up-down-arrow.svg" class="up_down_arrow_icon">
            </span>
            <span>Transactions</span>
        </p>
    </div>
</div>
<div class="overlay">
    
</div>
