<div class="component-header">
    <div>
        <i
            class="bi bi-arrow-left-circle pointer"
            [routerLink]="['/wallet', this.walletService.selectedWallet.id]"
            style="cursor: pointer"
        ></i>
        &nbsp;&nbsp;
        <span>{{ this.walletService.selectedWallet.name }}</span>
    </div>
    <span class="header-amount">
        Balance:
        <span class="header-amount-value"
            >{{ this.walletService.selectedWallet.amount }}
            {{ this.walletService.selectedWallet.currencyCode }}</span
        ></span
    >
</div>

<div class="mainChild">
    <div class="default-input composed-input primary">
        <label for="name" class="label">Wallet Name</label>
        <input
            class="no-style-input inner-input"
            type="text"
            id="name"
            [(ngModel)]="this.walletService.selectedWallet.name"
            placeholder="Wallet Name"
        />
    </div>
    <div class="default-input composed-input primary">
        <label for="currencyCode" class="label">Currency Code </label>
        <input
            class="no-style-input inner-input"
            type="text"
            id="currencyCode"
            [(ngModel)]="this.walletService.selectedWallet.currencyCode"
            placeholder="Wallet Currency Code"
        />
    </div>
</div>

<div class="bottom-button">
    <button class="default-button" (click)="editWallet()">
        Confirm Edit Wallet
    </button>
</div>
