*{
	color: var(--primary-color-dark-theme);
}

:host{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.container{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.mainPage{
	display: flex;
	flex-direction: column;
	flex: 1;
}
