<div class="container d-flex flex-column align-items-center">
    <!-- logo svg -->
    <div class="d-flex flex-column align-items-center h-100 mainPage">
        
        <img src="assets/img/logo_primary.svg" alt="logo" class="logo" />
        
        <input
            class="default-input"
            type="text"
            [(ngModel)]="loginRequestData.emailOrUsername"
            placeholder="Username Or Email"
        />
        
        <input
            class="default-input"
            type="password"
            [(ngModel)]="loginRequestData.password"
            placeholder="Password"
            (keyup.enter)="login()"
        />
        
        <button class="default-button" (click)="login()">Login</button>
        
        <a class="default-link" routerLink="/signup">Not a User? Sign Up</a>

        <div></div>
    </div>
</div>
