:host{
    flex: 1;
}

.logo {
    width: 200px;
    height: 200px;
}

.container {
    height: 100%;
}

.mainPage{
    justify-content: space-around;
}

@media (min-width: 500px) {
    .mainPage {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .mainPage {
        width: 90%;
    }
}

.default-input{
	padding: 15px;
}
