<!-- <div class="component-header">
    <div>
        <i
            class="bi bi-arrow-left-circle pointer"
            [routerLink]="['/wallet']"
            style="cursor: pointer"
        ></i>
        &nbsp;&nbsp;
        <span>New Wallet</span>
    </div>
</div> -->

<br>

<div class="list-container">
    <div style="padding: 40px;">
		<app-wallet-list></app-wallet-list>
	</div>
</div>

<button class="default-button bottom-button" [routerLink]="['/wallet/create']">
    <span class="secondary">Create Wallet</span>
</button>
