:host{
	/* margin-top: 0 !important; */
	margin-bottom: 30px;

    /* margin-left: 0; */
}

:host > *{
	margin: 10px 0;
}

.default-input{
	margin: 20px 0;
}

.bottom-button {
	padding: 30px;
}

.component-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	/* margin-bottom: 15px; */
	margin: 0;
    padding: 15px;
}

.childMainPage{
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 20px;
	padding: 20px;
	margin-top: 0;
}
