.default-input{
	margin: 20px 0;
}

.bottom-button {
	margin: 40px 0;
}

.component-header{
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.childMainPage{
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 20px;
	padding: 20px;
}
