<div class="custom-select default-input composed-input d-flex">

    <label *ngIf="showLabel" for="date" class="default-label">{{
        labelString
    }}</label>

    <div
	id="buttonDropdownWallet"
	class="selected-option inner-input" (click)="selectShowDropdown()">
        <span class="w-100Z" *ngIf="!selectedWallet">Select Wallet</span>
        <span class="w-100Z" *ngIf="selectedWallet"> {{ selectedWallet.name }} </span>
    </div>
    <div
		id="dropdownWallet"
        class="default-dropdown"
        [ngClass]="{
            'dropdown-show': showDropdown,
            'dropdown-hide': !showDropdown,
			'dropdown-display-none': firstLoad || dropdownNone,
        }"

    >
	<!-- 'dropdown-display-none': !showDropdown && dropdownNone -->

        <div
            class="default-dropdown-option"
            *ngFor="let wallet of wallets"
            (click)="selectWallet(wallet)"
        >
            <div>
                {{ wallet.name }}
            </div>
            <div class="sub-wallet-container">
                <div class="latest-transaction">21/12/2023 12:51</div>
                <div
                    [ngClass]="{
                        'income-amount': wallet.amount >= 0,
                        'expense-amount': wallet.amount < 0
                    }"
                    class="wallet-amount"
                >
                    {{ wallet.amount }} {{ wallet.currencyCode }}
                </div>
            </div>
        </div>
    </div>
</div>
