:host{
	margin-bottom: 30px;
}

:host > *{
	margin: 10px 0;
}

.mainChild{
	display: flex;
	flex-direction: column;
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 20px;
	padding: 20px;
	margin-top: 15px !important;
}

.bottom-button {
    padding: 30px;
}

.composed-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.default-input{
	margin: 20px 0;
}

/* select income or expense */
.component-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

    
	font-size: 1.5rem;
    
    margin: 0;
    padding: 15px;
}

.component-header > *:last-child{
	margin-left: auto;
}

.wallet_select{
    margin: 20px 0;
}