<div class="component-header">
    <div>
        <i
            class="bi bi-arrow-left-circle pointer"
			appGoPageBack
            style="cursor: pointer"
        ></i>
        &nbsp;&nbsp;
        <span>{{ this.transactionService.selectedTransaction.name }}</span>
    </div>
</div>

<div class="mainChild">
	<h5>Transactions</h5>

    <div class="list-container">
		sss
    </div>
</div>

<div class="bottom-button">
    <!-- <button class="default-button" (click)="editWallet()">Edit Wallet</button> -->
</div>
