/* Color Constants for the app */

:root {
    --bg-color-dark-theme: #1f1616;
    --bg-color-dark-theme-rgb: 31, 22, 22;
    --primary-color-dark-theme: #ba3cde;
    --primary-color-dark-theme-rgb: 186, 60, 222;
	--error-color-dark-theme: #cf0000;

	--income-color-dark-theme: #00bfa5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.primary{
	color: var(--primary-color-dark-theme) !important;
}

.secondary{
	color: var(--bg-color-dark-theme) !important;
}

body,
html {
    height: 100%;
}

.default-input {
    width: 100%;

    border-radius: 20px;
	padding: 5px;

    outline: none;
    border: 2px solid var(--primary-color-dark-theme);
    background-color: transparent;
    color: rgba(var(--primary-color-dark-theme-rgb), 1);

    font-size: 16px;

    transition:
        border 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out,
        font-size 0.2s ease-in-out;
}

.default-input:hover {
    outline: none;
    /* border: 3px solid var(--primary-color-dark-theme); */
    box-shadow:
        0 0 0 3px var(--bg-color-dark-theme),
        0 0 0 6px var(--primary-color-dark-theme);
}

.default-input::placeholder {
    color: var(--primary-color-dark-theme);
    opacity: 0.8;
}

.default-input::-ms-input-placeholder {
    color: var(--primary-color-dark-theme);
    opacity: 0.8;
}

.default-button,
.default-button:active {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;

    border-radius: 20px;
    padding: 25px;

    outline: none;
    border: 1px solid var(--primary-color-dark-theme);
    background-color: var(--primary-color-dark-theme);
    color: var(--bg-color-dark-theme);

    cursor: pointer;
    font-size: 1.75em;

    transition:
        border 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out,
        font-size 0.2s ease-in-out;
}

.default-button:hover {
    outline: none;
    box-shadow:
        0 0 0 3px var(--bg-color-dark-theme),
        0 0 0 6px var(--primary-color-dark-theme);

    font-size: 1.8em;
}

.default-button:active {
    font-size: 1.75em;
}

.default-link {
    text-decoration: none;
    color: var(--primary-color-dark-theme);
    font-size: 1em;
    padding: 4px;
    border-radius: 10px;

    transition:
        border 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out,
        font-size 0.2s ease-in-out;
}

.default-link:hover {
    text-decoration: none;
    color: var(--primary-color-dark-theme);
    box-shadow:
        0 0 0 2px var(--bg-color-dark-theme),
        0 0 0 4px var(--primary-color-dark-theme);
}

.error{
	color: var(--error-color-dark-theme);
}

.default-list{
	list-style-type: none;
	padding: 0;

}

.default-editable-list-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid var(--primary-color-dark-theme);
}

.default-editable-list-item > a{
	text-decoration: none;
	color: var(--primary-color-dark-theme);
}
