/* Color Constants for the app */

:root {
    --bg-color-dark-theme: #181f2b;
    --bg-color-dark-theme-rgb: 24, 31, 43;
    /* --primary-color-dark-theme: #BD47DE; */
    --primary-color-dark-theme: #de47ac;
    --primary-color-dark-theme-rgb: 222, 71, 172;
    --error-color-dark-theme: #cf0000;

    --income-color-dark-theme: #00bfa5;
    --expense-color-dark-theme: #ff1744;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.primary {
    color: var(--primary-color-dark-theme) !important;
}

.secondary {
    color: var(--bg-color-dark-theme) !important;
}

body,
html {
    height: 100%;
}

.default-input {
    width: 100%;

    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;

    outline: none;
    border: 2px solid var(--primary-color-dark-theme);
    background-color: transparent;
    color: rgba(var(--primary-color-dark-theme-rgb), 1);

    font-size: 16px;

    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
        font-size 0.2s ease-in-out;
}

.default-input:hover {
    outline: none;
    /* border: 3px solid var(--primary-color-dark-theme); */
    box-shadow: 0 0 0 3px var(--bg-color-dark-theme),
        0 0 0 6px var(--primary-color-dark-theme);
}

.default-input::placeholder {
    color: var(--primary-color-dark-theme);
    opacity: 0.8;
}

.default-input::-ms-input-placeholder {
    color: var(--primary-color-dark-theme);
    opacity: 0.8;
}

.no-style-input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary-color-dark-theme);
    font-size: 1em;
}

.default-button,
.default-button:active {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40px;

    border-radius: 20px;
    padding: 25px;

    outline: none;
    border: 1px solid var(--primary-color-dark-theme);
    background-color: var(--primary-color-dark-theme);
    color: var(--bg-color-dark-theme);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    cursor: pointer;
    font-size: 1.75em;

    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
        font-size 0.2s ease-in-out;
}

.default-button:hover {
    outline: none;
    box-shadow: 0 0 0 3px var(--bg-color-dark-theme),
        0 0 0 6px var(--primary-color-dark-theme);

    font-size: 1.8em;
}

.default-button:active {
    font-size: 1.75em;
}

.default-link {
    text-decoration: none;
    color: var(--primary-color-dark-theme);
    font-size: 1em;
    padding: 4px;
    border-radius: 10px;

    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
        font-size 0.2s ease-in-out;
}

.default-link:hover {
    text-decoration: none;
    color: var(--primary-color-dark-theme);
    box-shadow: 0 0 0 2px var(--bg-color-dark-theme),
        0 0 0 4px var(--primary-color-dark-theme);
}

.embeded-link {
	text-decoration: none;
	color: var(--primary-color-dark-theme);
	font-size: 1em;
	box-shadow: 0 0 0 2px var(--bg-color-dark-theme),
		0 3px 0 0 var(--primary-color-dark-theme);

	transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
		font-size 0.2s ease-in-out;
}

.embeded-link:hover {
	font-size: 1.1em;
}

.error {
    color: var(--error-color-dark-theme);
}

.default-list {
    list-style-type: none;
    padding: 0;
}

.default-editable-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--primary-color-dark-theme);
}

.default-editable-list-item > a {
    text-decoration: none;
    color: var(--primary-color-dark-theme);
}

.childRouteFlex {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: linear-gradient(180deg, rgba(222,71,172,0) 0%, rgba(222,71,172,0) 0%, rgba(222,71,172,0.3) 20%, rgba(222,71,172,0.3) 50%, rgba(222,71,172,0.3) 80%, rgba(222,71,172,0) 100%);

}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent
}

*::-webkit-scrollbar-thumb {
    /* background-color: rgba(var(--primary-color-dark-theme-rgb), 0.3); */
	/* transparent gradient */
	background: -moz-linear-gradient(180deg, rgba(222,71,172,0) 0%, rgba(222,71,172,0) 0%, rgba(222,71,172,0.3) 20%, rgba(222,71,172,0.3) 50%, rgba(222,71,172,0.3) 80%, rgba(222,71,172,0) 100%);
	background: -webkit-linear-gradient(180deg, rgba(222,71,172,0) 0%, rgba(222,71,172,0) 0%, rgba(222,71,172,0.3) 20%, rgba(222,71,172,0.3) 50%, rgba(222,71,172,0.3) 80%, rgba(222,71,172,0) 100%);
	background: linear-gradient(180deg, rgba(222,71,172,0) 0%, rgba(222,71,172,0) 0%, rgba(222,71,172,0.3) 20%, rgba(222,71,172,0.3) 50%, rgba(222,71,172,0.3) 80%, rgba(222,71,172,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de47ac",endColorstr="#de47ac",GradientType=1);
	border-radius: 20px;

    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}

.income-amount{
	color: var(--income-color-dark-theme);
}

.expense-amount{
	color: var(--expense-color-dark-theme);
}
