.income-amount{
	color: var(--income-color-dark-theme);
}

.expense-amount{
	color: var(--expense-color-dark-theme);
}

:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
