:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.default-list-container{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.default-editable-list-item{
	cursor: pointer;
}

.empty-list-container{
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.date-label{
	font-weight: lighter;
	opacity: 0.7;
}

.badge{
	background-color: var(--primary-color-dark-theme);
	color: var(--bg-color-dark-theme);
	font-weight: 500;
	font-size: 0.75rem;
}