<div class="default-list-container">
    <div *ngIf="transactions.length === 0" class="empty-list-container">
        <h1 class="text-center">...</h1>
        <br />
        <h6 *ngIf="loading" class="text-center">Loading Transactions</h6>
        <p *ngIf="loading" class="text-center">Please wait some time.</p>

        <h6 *ngIf="!loading" class="text-center">No Transactions found.</h6>
        <p *ngIf="!loading" class="text-center">
            Let's add one
            <span
                ><a class="embeded-link" routerLink="/transaction/create"
                    >here</a
                ></span
            >.
        </p>
        <br /><br />
    </div>

    <div class="default-list">
        <div
            class="default-editable-list-item"
            *ngFor="let transaction of transactions"
			[routerLink]="['/transaction', transaction.id]"
			(click)="this.transactionService.selectTransaction(transaction.id)"
        >
            <div class="d-flex flex-column flex-grow-1">
                <div>{{ transaction.name }} {{transaction.id}}</div>
                <div class="date-label">{{ transaction.date | date : 'dd/MM/yyyy HH:mm' }}</div>
            </div>
			<div>
			</div>
            <div class="d-flex flex-column flex-grow-1">
                <div
                    class="text-end amount-value"
                    [ngClass]="{
                        'income-amount': transaction.isIncome,
                        'expense-amount': !transaction.isIncome
                    }"
                >
                    {{ transaction.isIncome ? '+' : '-' }}
                    {{ transaction.amount }}
                    {{ transaction.currencyCode }}
                </div>
                <div class="d-flex justify-content-end flex-wrap">
					<div *ngFor="let category of transaction.categories">
						<span class="badge m-1">{{ category.name }}</span>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
